body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: Green;
  text-align: center;
}
img {
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

button
{
  background-color:green; 
  border: none;
  color: white;
  padding: 18px 32px;
  font-size:20px;
  width:100%;
}
